### Built in Functions

** Map Function **

In [2]:
#The map() function applies a given to function to each item of an iterable and returns a list of the results

def temp_conversion(temp):
    return(9/5)*temp + 32

In [3]:
temp_conversion(0)

32.0

In [4]:
temp_conversion(1)

33.8

In [5]:
temp_list = [0,18,27,33,58]

In [7]:
# first argument for map is a function and second is an iterable/sequential data element
# and each of the element in sequence is applied as an argument to the function and the result is computed

list(map(temp_conversion,temp_list))

[32.0, 64.4, 80.6, 91.4, 136.4]

In [9]:
# we can use a generic functions or even lambda functions

a=  lambda T: (9/5)*T + 32 # for every input T, conversion happens using the formula

In [11]:
 a(1)

33.8

In [13]:
#Using map function with lamda function being its first argument

list(map(a,temp_list))

[32.0, 64.4, 80.6, 91.4, 136.4]

In [14]:
# we can directly define lambda function within map function

list(map(lambda T: (9/5)*T + 32,temp_list))

[32.0, 64.4, 80.6, 91.4, 136.4]

In [15]:
list_1 = [1,2,3]
list_2 = [4,5,6]

In [18]:
#this does concatenation
list_1+list_2

[1, 2, 3, 4, 5, 6]

In [20]:
a = lambda x,y:x+y

In [21]:
a(1,2)

3

In [22]:
# lets use map funciton

map(lambda x,y:x+y, list_1,list_2)

In [25]:
list(map(a, list_1,list_2))

[5, 7, 9]

In [28]:
list(map(lambda x,y:x+y, list_1,list_2))

[5, 7, 9]

In [31]:
list(map(lambda num:num**2, list_1))

[1, 4, 9]

** Reduce Function **

In [37]:
list_1 = [1,22,36,50,68,99,143,12,77]

In [38]:
max(list_1) # built in function

143

In [39]:
#lets create a user defined function to find the same with help of reduce

find_max = lambda a,b: a if a > b else b

In [40]:
# Above is same as the below normal function

def find_max(a,b):
    if a>b:
        return a
    else:
        return b

In [41]:
find_max(144,166)

166

In [43]:
list_1

[1, 22, 36, 50, 68, 99, 143, 12, 77]

In [44]:
reduce(find_max,list_1)

143

** Filter Function**

In [46]:
def even_num_check(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [48]:
even_num_check(23)

False

In [49]:
list_1 = list(range(10))

In [51]:
list(filter(even_num_check,list_1))

[0, 2, 4, 6, 8]

In [53]:
#using lambda function
list(filter(lambda number:number%2==0,list_1))

[0, 2, 4, 6, 8]

In [56]:
list(filter(lambda number:number >3 and number <9,list_1))

[4, 5, 6, 7, 8]

** Zip Function **

In [57]:
x = [1,2,3]
y = [4,5,6]

In [58]:
zip(x,y)

In [60]:
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [61]:
list_1 = list(range(5)) # creates a list of values from 0 to 4

In [62]:
list_1

[0, 1, 2, 3, 4]

In [63]:
list_2 = [1,4,3,3,7]

In [68]:
list(zip(list_1,list_2))

[(0, 1), (1, 4), (2, 3), (3, 3), (4, 7)]

In [69]:
#finding larger of elements for an index in both the lists

for elements in zip(list_1,list_2): # where elements are nothing but tuples
    print(max(elements),end=' ')

1 4 3 3 7

In [72]:
func = lambda elements:max(elements)

In [77]:
map(func,[(0, 1), (1, 4), (2, 3), (3, 3), (4, 7)])

In [78]:
list(map(func,[(0, 1), (1, 4), (2, 3), (3, 3), (4, 7)]))

[1, 4, 3, 3, 7]

In [70]:
# Achieving the same using map() function

map(lambda elements:max(elements),zip(list_1,list_2))

In [79]:
list(map(lambda elements:max(elements),zip(list_1,list_2)))

[1, 4, 3, 3, 7]

In [86]:
# Creating a dictionary using Zip function

print(list(zip([1,2,3],['a','b','c'])))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [87]:
print(list(zip(range(5), ["a","b","c","d","e"])))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [88]:
# let us create two lists:

names = ["Nick", "Alice", "Kitty"]
professions = ["Programmer", "Engineer", "Art Therapist"]

In [107]:
names_and_professions = list(zip(names, professions))

In [108]:
names_and_professions

[('Nick', 'Programmer'), ('Alice', 'Engineer'), ('Kitty', 'Art Therapist')]

In [110]:
employee_dictionary= {}

for name, profession in names_and_professions:
    employee_dictionary[name] = profession

In [111]:
employee_dictionary

{'Alice': 'Engineer', 'Kitty': 'Art Therapist', 'Nick': 'Programmer'}

In [113]:
employee_dictionary = dict(names_and_professions)
employee_dictionary

{'Alice': 'Engineer', 'Kitty': 'Art Therapist', 'Nick': 'Programmer'}

In [114]:
employee_dictionary = dict(zip(names, professions))
employee_dictionary

{'Alice': 'Engineer', 'Kitty': 'Art Therapist', 'Nick': 'Programmer'}

** Enumerate Function **

In [115]:
list_1 = ['a','b','c','d']

# to print the item number and item
count = 0
for item in list_1:
    print(count)
    print(item)
    count+=1

0
a
1
b
2
c
3
d

In [117]:
list(enumerate(list_1))
#enumerate returns tuple as its response with first element in each tuple giving the identity or item numberof the item in sequence
# item number of the first element is 0 by default and increments with the next item in the sequence
# Default start value can be changed by passing a value for optional second element to enumerate

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [118]:
for count,item in enumerate(list_1):
    print(count,item)

0 a
1 b
2 c
3 d

In [119]:
for count,item in enumerate(list_1,1):
    print(count,item)

1 a
2 b
3 c
4 d

In [121]:
for count,item in enumerate(list_1,1):
    if count > 2:
        break
    else:
        print(count,item)

1 a
2 b

** All and Any Functions **

In [122]:
list_1 = [True, True, False, False]

In [123]:
all(list_1) # Returns True if all of the elements in the iterable are true if not it returns False

False

In [124]:
any(list_1)# Returns True if any one of the element in the iterable is  true if not it returns False

True

In [132]:
list_1 = [-1, -1, -1, 4]
all(list_1)

True

In [129]:
list_1 = [-1, -1, -1, -1]
all(list_1)

True

In [133]:
list_1 = [-1, -1, -1, 4,0]
all(list_1)

False

In [139]:
list_1 = [-1, -1, -1, -1]
any(list_1)

True

In [136]:
list_1 = [0,0,0, -1]
any(list_1)

True

In [137]:
list_1 = [-1, -1, -1, 4,0]
any(list_1)

True

In [140]:
list_1 = [0,0,0,0]
any(list_1)

False

In [145]:
all([])

True

In [146]:
any([])

False

In [ ]:
# Truth table for any() function

All values are true 	True
All values are false	False
One value is true (others are false)	True
One value is false (others are true)	True
Empty Iterable	False

In [ ]:
# Truth  table for all() function


All values are true 	True
All values are false	False
One value is true (others are false)	False
One value is false (others are true)	False
Empty Iterable	True