### Collection - Named Tuple

In [1]:
#Normal tuple
tuple1 = (1,2,3)

In [2]:
tuple1[0]

1

In [4]:
#Named tuple
from collections import namedtuple

In [14]:
#like createing a new class

# First argument to namedtuple function is name of the class itself or the name of named tuple
# Second argument are the list of attributes for the named tuple, as a single sting with comma seperated attribute values

# This resembles creating a class, what is a class? we shall discuss in coming sessions
Employee = namedtuple('Employee','Name,Age,Salary')

In [15]:
# This is similar to instantiating a class and creating an object

john = Employee('John',25,'1000USD')

In [16]:
john

Employee(Name='John', Age=25, Salary='1000USD')

In [19]:
print(john.Name)
print(john.Age)
print(john.Salary)
print(john[1])

John
25
1000USD
25