### Dictionaries

In [57]:
employees = {"John":25,"James":30}

In [59]:
employees

{'James': 30, 'John': 25}

In [60]:
employees["John"]

25

In [62]:
# Wrong way of defining dictionary

employees_dict={John:25}

NameError: name 'John' is not defined

In [68]:
# cannot be accessed using index, like its done in other sequence based structures such as lists and tuples
# 0 here is considered as a key in dictionary and hence we see a key error

employees[0]

KeyError: 0

In [65]:
# a new employee join the team

employees["Harry"] = 28

In [ ]:
# Modify the Detials of James

employees["Harry"] = 31

In [66]:
# Deleting an employee from dictionary after his exit

del employees["Harry"]

In [67]:
employees

{'James': 30, 'John': 25}

In [34]:
# Multiple Data Objects in dictionary

our_dict = {"k1":123,"k2":3.4,"k3":'Python'}

In [36]:
our_dict["k3"]

'Python'

In [39]:
# Create an empty dictionary

new_dict= {}

In [42]:
# Assigning a key to empty dictionary

new_dict["animal"] ='Dog'
new_dict["Age"] = 12

In [43]:
new_dict

{'Age': 12, 'animal': 'Dog'}

In [44]:
nested_dict = {"k1": {"nested_key": {"subnet_key": 'subnestValue' }} }

In [45]:
nested_dict["k1"]

{'nested_key': {'subnet_key': 'subnestValue'}}

In [46]:
nested_dict["k1"]["nested_key"]

{'subnet_key': 'subnestValue'}

In [47]:
nested_dict["k1"]["nested_key"]["subnet_key"]

'subnestValue'

In [50]:
# Create an empty dictionary

new_dict = {}

#Assign multiple key

new_dict["key1"] = 100
new_dict["key2"] = 200
new_dict["key3"] = 300

In [51]:
new_dict

{'key1': 100, 'key2': 200, 'key3': 300}

In [54]:
# getting keys from dictionary

new_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [70]:
# To access the keys or to iterate through the keys we can convert it to a tuple or a list

keys = list(new_dict.keys())
print(keys)

['key1', 'key2', 'key3']

In [55]:
# getting values from dictionary

new_dict.values()

dict_values([100, 200, 300])

In [73]:
# Similarly to access the values or to iterate through the keys we can convert it to a tuple or a list

values = list(new_dict.values())
print(values)

[100, 200, 300]

In [56]:
# getting both keys and values

new_dict.items()

dict_items([('key1', 100), ('key2', 200), ('key3', 300)])

In [74]:
# Similarly to access both values and keys, we can convert the it to list

items = list(new_dict.items())
print(items)

[('key1', 100), ('key2', 200), ('key3', 300)]

In [75]:
# Variable reference, Shallow Copy and Deep Copy holds good to dictionary in the same way as we saw for List

In [78]:
# Nested elements with multiple data structures

employees = {
    "John":["ID0001",25,'1000 USD'],
    "James":["ID0002",28,'2000 USD'],
    "Harry":["ID0003",24,'800 USD'],
    "Mary":["ID0004",26,'1200 USD']
    }

In [79]:
# Get all the detials of James

print(employees["James"])

['ID0002', 28, '2000 USD']

In [80]:
# Get ID of James

print(employees["James"][0])

ID0002

In [81]:
# Get Age and salary of Harry

print(employees["James"][1:])

[28, '2000 USD']

In [82]:
# Nested elements to categorize the data of each employee

employees = {
    "John":{"Id":'ID0001',"Age":25,"Salary":'1000USD'},
    "James":{"Id":'ID0002',"Age":28,"Salary":'2000USD'},
    "Harry":{"Id":'ID0003',"Age":24,"Salary":'800USD'},
    "Mary":{"Id":'ID0004',"Age":26,"Salary":'1200USD'}
    }

In [83]:
print(employees["James"]["Age"])

28

In [84]:
print(employees["Mary"]["Id"],employees["Mary"]["Salary"])

ID0004 1200USD

In [6]:
# Multiple Ways of constructing a dictionary in Python

#1:  Most common way of creating a dictionary is using dictionary literal, which we saw above using curly brackets

dictionary_1 = {}

# Adding key afterwards

dictionary_1["Name"] = 'John'

# or directly assigning the key,values inside curly braces

dictionary_1={"Name":'John',"Age":25}
print(dictionary_1)

{'Name': 'John', 'Age': 25}

In [5]:
#2: Using dict() function to construct a dictionary

dictionary_2 = dict(Name='John',Age = 25)
print(dictionary_2)

{'Name': 'John', 'Age': 25}

In [7]:
#2: From a list of Tuples

# Lets say, we having tuples as elements in a list as shown below:

list_of_tuples = [("John",25),("James",32)]

# We can use dict function now to conver the list to a dictionary
dictionary_3 = dict(list_of_tuples)
print(dictionary_3)

{'John': 25, 'James': 32}

In [2]:
#3 : From 2 parallel lists, one acting as a key and another as value
dictionary_3 = {}
names = ["Nick", "Alice", "Kitty"]
Age = [25,32,33]

dictionary_3[names[0]] = Age[0]
dictionary_3[names[1]] = Age[1]
dictionary_3[names[2]] = Age[2]

print(dictionary_3)

{'Nick': 25, 'Alice': 32, 'Kitty': 33}

In [ ]:
# 3rd approach can be achieved easily using FOR loops or ZIP function, which we will be seeing in the later part of our course