### List  and Dictionary Comprehension

In [1]:
list_1 = []

# Add values from 1 to 5

for i in range(1,6):
    list_1.append(i)

print(list_1)

[1, 2, 3, 4, 5]

In [2]:
# Same operation via List Comprehension

list_1 = []
list_1 = [elements for elements in range(1,6)] 
# in the format of [return_expression for item in sequence]
# return_expression can make use of item value

print(list_1)

[1, 2, 3, 4, 5]

In [7]:
# Cube of set of numbers in list

list_2 = [1,2,3,4,5]
list_square = [x**3 for x in [1,2,3,4,5]]

In [8]:
list_square

[1, 8, 27, 64, 125]

In [9]:
# same operation as above for power of 4

list_square = [x**4 for x in list_2]

In [10]:
list_square

[1, 16, 81, 256, 625]

In [23]:
# Listing the odd numbers in a range using comprehension
# Modulo operator provides the remainder value

list_odd = [value for value in range(1,11) if value % 2 != 0]
print(list_odd)

[1, 3, 5, 7, 9]

In [19]:
# same as above
list_odd
for value in range(1,11):
    if value % 2 != 0:
        list_odd.append(value)

In [25]:
# convert celsius to fahrenheit if the celsius value is greater than 100, if not keep it in celsius
# suffix the values with °C and °F for the temperatures in celsius and fahrenheit correspondingly
# Use list comprehension

celsius = [20,110,35,140,30,65,135]
fahrenheit = [(temperature * (9/5) + 32) for temperature in celsius if temperature > 100 ]
print(fahrenheit)

[230.0, 284.0, 275.0]

In [27]:
# In the above case we only get teh values in fahrenheit, but not in celsius
# we can get the both by adding if else in list comprehension as shown below

celsius = [20,110,35,140,30,65,135]
new_temp = [(temperature * (9/5) + 32) if temperature > 100 else temperature for temperature in celsius  ]
print(new_temp)

[20, 230.0, 35, 284.0, 30, 65, 275.0]

In [30]:
# lets append °c and °f accordingly, first we must convert the intergers to string before doing it

celsius = [20,110,35,140,30,65,135]
new_temp = [str(temperature * (9/5) + 32)+'°f' if temperature > 100 else str(temperature)+'°c' for temperature in celsius  ]
print(new_temp)

['20°c', '230.0°f', '35°c', '284.0°f', '30°c', '65°c', '275.0°f']

In [33]:
# nested list comprehension

list_nest = [x**2 for x in [x**2 for x in range(1,11)]]

In [34]:
list_nest

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [35]:
# Dictionary comprehension

details = {"James":25, "John":30,"Harry":22}

In [49]:
dict_comprehension = {key+' San':value+1 for (key,value) in details.items()}

In [50]:
dict_comprehension

{'Harry San': 23, 'James San': 26, 'John San': 31}