In [7]:
# Initialization of list with integers
list_input = [1,2,3]

In [8]:
list_input

[1, 2, 3]

In [9]:
# list holding different object type
list_input = ['mystring',1,2,3]

In [10]:
list_input

['mystring', 1, 2, 3]

In [11]:
# finding total number of elements in list
len(list_input)

4

In [19]:
# Accessing the element inside list using index or getitem approach

list_input[0]

'mystring'

In [20]:
list_input[2]

2

In [21]:
# We can use negative index to retrieve the list item from reverse order in the sequence

list_input[-1]

3

In [23]:
list_input[-4]

'mystring'

In [25]:
# We can perform slicing on the list to retrieve subset of list elements, similar to string

list_input[0:4] # all elements in the list

['mystring', 1, 2, 3]

In [26]:
# same as list_input[0:4], which is same as list_input[:]

list_input[0:]

['mystring', 1, 2, 3]

In [27]:
list_input[::2] #same as list_input[0:4:2]

['mystring', 2]

In [34]:
list_input[::-1] # reversing the string element as similar to what we saw in case of a string

[3, 2, 1, 'mystring']

In [35]:
# Lists are mutable unlike strings
# We can change the value element by element

list_input[0] = 'my_string'

In [39]:
list_input

['my_string', 5, 6, 7]

In [42]:
# We can modify the slice of a list 

list_input[1:]= [10,100,12]

In [43]:
list_input

['my_string', 10, 100, 12]

In [13]:
list_old = [1,2,3]

In [14]:
id(list_old)

3006598489160

In [17]:
# This is not a copy, but simply a reference to the same list by new variable
list_new = list_old

In [18]:
id(list_new)

3006598489160

In [9]:
# equal to operator just does value comparison
# is opertor checks if both variables are pointing to same value

list_new is list_old

NameError: name 'list_new' is not defined

In [44]:
# Modify the new variable
list_new[0] = 100

In [45]:
list_new

[100, 2, 3]

In [56]:
# it modified the old variable also as the new variable is refering to the same list as the old variable
list_old

[100, 2, 3]

In [57]:
list_old[2] = 300
#modifies the value of both old variable and new variable due to same reason stated above

In [60]:
print(list_old)
print(list_new)

[100, 2, 300]
[100, 2, 300]

In [61]:
# Add an integer value to the existing list
list_old + 1

TypeError: can only concatenate list (not "int") to list

In [63]:
# Add or concatenate a list having an integer in it
list_old + [1]

[100, 2, 300, 1]

In [66]:
# Convert an element into list using list function

list("ABC")

['A', 'B', 'C']

In [68]:
list(123) # conversion works only if the argument passed is an iterable

TypeError: 'int' object is not iterable

In [70]:
list('123') # gets converted as strings are iterable

['1', '2', '3']

In [80]:
# so during concatenation of a string, we can perform it in two ways

#1: Adding the whole string as a new element at end of the list

list_concatenate = list_old + ['ABC']

In [81]:
list_concatenate

[100, 2, 300, 'ABC']

In [86]:
#2: convert the string to a list of characters by passing it as an argument to list function and then concatenate it

list_concatenate = list_old + list('ABC')

In [87]:
list_concatenate

[100, 2, 300, 'A', 'B', 'C']

In [88]:
id(list_old)

3006598489160

In [89]:
# List concatenation is one of the ways to create a new list in memory and to make a new copy of the previous element
id(list_concatenate)

3006598716552

In [90]:
list_concatenate[2] = 500

In [85]:
print(list_concatenate)
print(list_old)

[100, 2, 500, 'ABC']
[100, 2, 300]

In [112]:
# One of the other options for making a new copy in memory is, to make a copy is to Slice a list and assign it to a new variable

list_sliced = list_old[:]

In [113]:
id(list_old)

3006598489160

In [114]:
id(list_sliced)

3006598561096

In [115]:
list_sliced[0] = 1000

In [116]:
list_sliced

[1000, 2, 300]

In [117]:
list_old

[100, 2, 300]

In [48]:
# We have 2 methods to perform copy opreation

#1 using copy function from copy module

from copy import copy

In [49]:
original_list = [1,2,3,5]

In [50]:
copied_list = copy(original_list)

In [51]:
print(id(original_list))
print(id(copied_list))

2264828226632
2264827939720

In [52]:
original_list is copied_list

False

In [53]:
original_list[0] = 199

In [55]:
print(original_list)
print(copied_list)

[199, 2, 3, 5]
[1, 2, 3, 5]

In [80]:
# list with nested structure
original_list = ['String','Python',1,2,[1,2,3]]

In [81]:
copied_list = copy(original_list)

In [90]:
copied_list[0] = 199

In [91]:
# Modifying the primitive data objects to either of the list doesnt modify the other list

print(original_list)
print(copied_list)

['String', 'Python', 1, 2, [1, 2, 3]]
[199, 'Python', 1, 2, [1, 2, 3]]

In [92]:
#Modify one of the elements in nested list

copied_list[4][1] = 5

In [93]:
copied_list

[199, 'Python', 1, 2, [1, 5, 3]]

In [94]:
# print the values in original list, we see that the nested elements value got changed due to the change done in copied list
# This method of copying is called as Shallow Copy

original_list

['String', 'Python', 1, 2, [1, 5, 3]]

In [97]:
copied_list is original_list

False

In [98]:
copied_list[4] is original_list[4]

True

In [95]:
print(id(original_list))
print(id(copied_list))

2264828247176
2264828223944

In [96]:
print(id(copied_list[4]))
print(id(original_list[4]))

2264826914504
2264826914504

In [101]:
# To avoid the above behaviour and to copy all the elements in the list to a new memory location, follow deep copy approach
# import deepcopy function from copy module

from copy import deepcopy

In [102]:
original_list = ['String','Python',1,2,[1,2,3]]

In [103]:
copied_list = deepcopy(original_list)

In [104]:
# Modify the nested list elements in copied list

copied_list[4][2] = 222

In [105]:
print(copied_list)
print(original_list)

['String', 'Python', 1, 2, [1, 2, 222]]
['String', 'Python', 1, 2, [1, 2, 3]]

In [106]:
print(id(original_list))
print(id(copied_list))

2264828321864
2264828274696

In [107]:
print(id(original_list[4]))
print(id(copied_list[4]))

2264828226568
2264828322632

In [6]:
# Execute this instruction multiple times and we see it points to the same memory location till we change the string value

id('Python')

2264788112920

In [7]:
# Execute this instruction multiple times and we see it the value gets stored in different memory location

id([1,2,3])

2264827419464

In [12]:
# So, every time we instantiate a list with square brackets, it does new memory allocation

a = []
b = []

In [13]:
id(a)

2264827418376

In [14]:
id(b)

# a and b although are having same values ie empty list, are not pointing to same value in memory
# every time we use a square bracket for instantiation of list object, it creates a new memory allocation for it

2264827589384

In [119]:
# Accessing a non existing index in the list

list_old[5]

IndexError: list index out of range

In [101]:
# Create three new lists

list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]

In [102]:
# Embed the above created lists as elements to a new list
nested_list = [list_1,list_2,list_3]

In [103]:
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [107]:
# 1st element is a list in iself
print('{} is the first element in list'.format(nested_list[0]))
#similarly second and third
print('{} is the second element in list'.format(nested_list[1]))
print('{} is the third element in list'.format(nested_list[2]))

[1, 2, 3] is the first element in list
[4, 5, 6] is the second element in list
[7, 8, 9] is the third element in list

In [109]:
# to access and get element value 5
#nested_list[1], followed by accessing second element in that list

nested_list[1][1]

5

In [110]:
nested_list[1][2]

6

In [118]:
nested_list[1][-1]

6

In [120]:
nested_list = nested_list + [[10,11.5,12]]

In [123]:
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11.5, 12]]

In [124]:
nested_list[-1]

[10, 11.5, 12]

In [126]:
# Below methods provide more ease of use to list

nested_list.append(1)

In [127]:
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11.5, 12], 1]

In [128]:
# only one argument can be passed

nested_list.append(2,3,4,5)

TypeError: append() takes exactly one argument (4 given)

In [131]:
nested_list.append(list('123'))

In [133]:
nested_list.append([1,2,3])
nested_list.append('123')
nested_list

[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [10, 11.5, 12],
 1,
 ['1', '2', '3'],
 [1, 2, 3],
 [1, 2, 3],
 '123']

In [134]:
# Do not do the below operation
nested_list = nested_list.append(1)

In [138]:
# Makes the list empty, above instruction returns none type and assigns it back to the list, thus making existing data to vanish
nested_list

In [139]:
print(type(nested_list))

<class 'NoneType'>

In [140]:
B = [1,3,4]

In [142]:
print(type(B.append(6)))

<class 'NoneType'>

In [143]:
B

[1, 3, 4, 6]

In [144]:
# insert a new element, but not at the end of list, but to a specific index in the list by pushing the remaining elements
B.insert(1,100) # inserts 100 at index 1

In [145]:
B

[1, 100, 3, 4, 6]

In [148]:
B.insert(1,[1,5,7,9,2]) # inserts a new list at index 1

In [149]:
B

[1, [1, 5, 7, 9, 2], [1, 5, 7, 9, 2], 100, 3, 4, 6]

In [ ]:
B.remove(6)# removes the specific element passed as an argument to the list

In [152]:
B.remove(6) #throws error if the element is not existing in the list

ValueError: list.remove(x): x not in list

In [153]:
# removes the list element too, but only removes the first occurence of that element in case of duplicates existing in list
B.remove([1,5,7,9,2])

In [155]:
B

[1, [1, 5, 7, 9, 2], 100, 3, 4]

In [156]:
B.pop() # Default argument is -1

4

In [157]:
B

[1, [1, 5, 7, 9, 2], 100, 3]

In [161]:
B.pop(0) # seify the value to be moved out of the list

[1, 5, 7, 9, 2]

In [162]:
B

[100, 3]

In [170]:
# Reversing the elements of list
B.reverse()

In [171]:
B

[100, 3]

In [172]:
B.sort()

In [173]:
B

[3, 100]

In [5]:
3 in [1, 2, 3]

True

In [174]:
5 in [1, 2, 3]

False

In [17]:
# Converting or spliting the string to list of words:

statement = 'Hello, how are you?'

list1 = statement.split(' ')

In [18]:
list1

['Hello,', 'how', 'are', 'you?']

In [19]:
statement = 'Hello, how are you?'

list1 = statement.split() # same as statement.split(' ')
list1

['Hello,', 'how', 'are', 'you?']

In [3]:
statement = 'Hello,howareyou?'

list1 = statement.split(' ')

In [4]:
list1

['Hello,howareyou?']

In [7]:
statement = 'Hello,how,are,you,?'
list1 =statement.split(',')
list1

['Hello', 'how', 'are', 'you', '?']

In [8]:
# join the split elements to a single string/statement
' '.join(list1)

'Hello how are you ?'

In [9]:
''.join(list1)

'Hellohowareyou?'

In [10]:
'+'.join(list1)

'Hello+how+are+you+?'

In [11]:
','.join(list1)

'Hello,how,are,you,?'

In [12]:
'++'.join(list1)

'Hello++how++are++you++?'

In [14]:
'&'.join(list1)

'Hello&how&are&you&?'

In [1]:
# Partitioning the string 

string = 'hello i am interested in Python'

In [4]:
string.partition('i') # returns tuple and splits by considering only first occurance of i

('hello ', 'i', ' am interested in Python')

In [1]:
new_list = [1,2,3,'Hello Python']

In [6]:
new_list.append([10,12])

In [7]:
new_list

[1, 2, 3, 'Hello Python', [10, 12]]

In [10]:
new_list.extend([1,2,3])

In [11]:
new_list

[1, 2, 3, 'Hello Python', [10, 12], 1, 2, 3]

In [12]:
new_list.extend((11,12,13))

In [13]:
new_list

[1, 2, 3, 'Hello Python', [10, 12], 1, 2, 3, 11, 12, 13]